.profile-page {
    text-align: center;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px auto;
  }
  
  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-page h1,
    .profile-page h2 {
    color: #115fb4;
    }


    .about-me {
        font-weight: bold;
    }