.auth-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    background-image: url('Login.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
 .logo-text {
   font-size: 150px;
    position: absolute; 
    top: 100px;
    left: 400px;
 }
  
  .auth-form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .auth-form {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 1rem;
    border: 1px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    font-weight: 500;
  }
  
  .auth-title {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 2.5rem;
    color: #115fb4;
  }
  
  .auth-form label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .auth-form input{
    padding: 1.5rem;
    font-size: 15px;
    margin: 0.5rem 0;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border: 1px solid black;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-checkbox {
    display: flex;
    align-items: center;
    flex-direction: row !important;
}

.auth-checkbox input {
    margin-right: 10px ;
}

.auth-submit {
    padding: 10px;
    width: 40%;
    margin: 20px auto;
    background-color: #115fb4;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.auth-submit:hover {
    background-color: #0056b3;
}

.auth-form p {
    font-size: 0.9em;
}

@media(max-width:480px){
    .auth-form{
        width: 70%;
    }
}

@media(min-width:481px) and (max-width:768px){
    .auth-form{
        width: 50%;
    }
}
