.trips {
  font-family: Arial, sans-serif;
  position: relative; 
}

.filters {
  position: absolute; 
  top: 20px;
  left: 20px; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 10px; 
  width: 200px; 
}

.filters button {
  width: 100%;
}

.destinations {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 18px; 
  width: 100%; 
}

.destinations a {
  text-decoration: none;
}

.dropdown {
  width: 100%;
}

@media (max-width: 768px) {
  .filters {
    position: static; 
    width: 100%; 
    flex-direction: row; 
    justify-content: space-between; 
  }
}

@media (max-width: 480px) {
  .filters {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  
  .filters button, .sort-dropdown {
    width: 100%; 
  }
}
